* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(89, 125, 217);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body {
    margin-top: 120px;
    display: flex;
}

.component {
    display: flex;
    align-items: center;
}

.headings div p{
    color: rgb(0, 255, 140);
}

.line {
    height: 2px;
    width: 80px;
    transition: all 0.7s ease-in-out;
    background-color: rgb(0, 255, 140);
}

.number {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6px;
    width: 6px;
    transform: scale(0.9);
    transition: all 0.4s ease-in-out;
    background-color: rgb(0, 255, 140);
    border-radius: 50%;
    padding: 30px;
    color: black;
    font-size: 20px;
}
.headings{
    margin-top: 20px;
    width: 30%;
    justify-content: space-evenly;
    display: flex;
}
.headings div p{
    font-size: 20px;
}

fieldset {
    display: none;
    background: white;
    border: 0 none;
    border-radius: 8px;
    box-shadow: 20px 20px 50px rgb(46, 46, 46);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    position: relative;
}

input,
textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2c3e50;
    font-size: 13px;

}
input:focus,
textarea:focus{
    outline: none;
    border-color: rgb(121, 229, 233);
}

.action-button {
    width: 100px;
    background: #1091c1;
    font-weight: bold;
    color: white;
    transition: 150ms;
    border: 0 none;
    border-radius: 7px;
    cursor: pointer;
    padding: 10px 5px;
    margin: auto;
}
.btns{
    display: flex;
}
.btns-child{
    margin: auto;
}
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2c3e50;
    margin-bottom: 10px;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}
.active-form{
    display: block;
}
.animate-right{
    animation: fadeInRight 1s;
}
.animate-left{
    animation: fadeInLeft 1s;
}
.active .number {
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
    background-color: rgb(92, 242, 244);
}

.active p {
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
    color: rgb(92, 242, 244);
}

.active .line {
    transition: all 0.7s ease-in-out;
    background-color: rgb(92, 242, 244);
}

.forms{
    margin-top: 50px;
}

@keyframes fadeInRight{
    0%{
        transform: translateX(-15%);
        opacity: 0;
    }
    50%{
        transform:  scale(1.04);
    }
    100%{
        transform: translateX(0%) scale(1);
        opacity: 1;
    }
}
@keyframes fadeInLeft{
    0%{
        transform: translateX(15%);
        opacity: 0;
    }
    50%{
        transform:  scale(0.94);
    }
    100%{
        transform: translateX(0%) scale(1);
        opacity: 1;
    }
}